<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col shadow bg-card">
        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                [src]="url + user_details?.user_details?.employer_cover_url"
                alt="Cover image"
            />
        </div>

        <!-- User info -->
        <div
            class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card"
        >
            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    [src]="
                        user_details?.user_details?.logo1
                            ? url + user_details?.user_details?.logo1
                            : 'assets/images/avatars/male-04.jpg'
                    "
                    alt="Logo"
                />
            </div>

            <!-- Details -->
            <div
                class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8"
            >
                <div class="text-lg font-bold leading-none">
                    {{ user_details?.user_details?.company_name }}
                </div>
                <div class="text-secondary">
                    {{ user_details?.user_details?.location }}
                </div>
            </div>
        </div>
    </div>

    <div class="lg:flex flex-col items-start mt-4 mx-14">
        <fuse-card class="flex flex-col w-full p-8">
            <div class="flex justify-between items-center">
                <div class="text-2xl font-semibold leading-tight">About Us</div>
                <button mat-icon-button (click)="clickOnUpdateEmployer()">
                    <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                </button>
            </div>
            <div class="mt-4">
                {{ user_details?.user_details.employer_about_us }}
            </div>
            <hr class="w-full border-t my-6" />
            <div class="flex justify-evenly items-center">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'mat_solid:email'"
                    ></mat-icon>
                    <span class="leading-none">
                        {{ user_details?.user_details?.employer_email }}
                    </span>
                </div>

                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'mat_solid:phone'"
                    ></mat-icon>
                    <span class="leading-none">
                        {{ user_details?.user_details?.employer_phone_number }}
                    </span>
                </div>

                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'feather:globe'"
                    ></mat-icon>
                    <span class="leading-none">
                        <a
                        *ngIf="user_details?.user_details?.website_url"
                            [href]="user_details?.user_details?.website_url"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                        Website
                    </a>
                    </span>
                </div>

                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'mat_solid:supervisor_account'"
                    ></mat-icon>
                    <span class="leading-none">
                        {{ user_details?.user_details?.number_of_employees }}
                        Employees
                    </span>
                </div>
            </div>
        </fuse-card>
    </div>

    <div class="lg:flex flex-col items-start mt-4 mx-14">
        <fuse-card class="flex flex-col w-full p-8">
            <div class="flex justify-between items-center">
                <div class="text-2xl font-semibold leading-tight">
                    Social Accounts
                </div>
                <button
                    mat-icon-button
                    (click)="onClickDetails('other_accounts')"
                >
                    <mat-icon
                        svgIcon="mat_outline:add_circle_outline"
                    ></mat-icon>
                </button>
            </div>
            <div
                class="flex flex-col md:flex-row w-full flex-wrap"
                *ngIf="user_details.other_accounts.length > 0; else noAccounts"
            >
                <div
                    class="flex flex-col rounded border-2 px-4 p-2 mr-2 my-1"
                    *ngFor="
                        let account of user_details.other_accounts;
                        let i = index
                    "
                >
                    <div class="flex justify-between items-center">
                        <div class="flex mr-2">
                            <img
                                [src]="account.logo"
                                class="w-10 rounded"
                                alt=""
                            />
                        </div>
                        <div class="flex font-semibold text-lg">
                            {{ account.account_name }}
                        </div>
                        <div class="flex">
                            <button
                                mat-icon-button
                                class="mr-1"
                                (click)="
                                    onClickDetails('other_accounts', account)
                                "
                            >
                                <mat-icon
                                    svgIcon="mat_outline:edit"
                                    class="icon-size-5"
                                ></mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                color="warn"
                                (click)="removeDetails('other_accounts', i)"
                            >
                                <mat-icon
                                    svgIcon="mat_outline:delete_outline"
                                    class="icon-size-5"
                                ></mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                (click)="goToAccount(account)"
                            >
                                <mat-icon
                                    svgIcon="mat_solid:link"
                                    class="icon-size-5"
                                ></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #noAccounts>
                <div class="flex flex-col w-full justify-center items-center">
                    <img
                        src="./assets/images/ui/angular-material/scenes/undraw_no_data_re_kwbl.svg"
                        class="w-50"
                        alt=""
                    />
                    <div class="flex flex-col items-center font-bold mt-2">
                        No accounts yet. Click the "Add" button on the right to
                        add one.
                    </div>
                </div>
            </ng-template>
        </fuse-card>
    </div>

    <div class="lg:flex flex-col items-start mt-4 mx-14">
        <fuse-card class="flex flex-col w-full p-8">
            <div class="flex justify-between items-center">
                <div class="text-2xl font-semibold leading-tight">
                    attachments
                </div>
                <button mat-icon-button (click)="onClickDetails('attachments')">
                    <mat-icon
                        svgIcon="mat_outline:add_circle_outline"
                    ></mat-icon>
                </button>
            </div>
            <div
                class="flex flex-col md:flex-row w-full flex-wrap"
                *ngIf="user_details.attachments.length > 0; else noAttachments"
            >
                <ng-container
                    *ngFor="let file of user_details.attachments; let i = index"
                >
                    <a
                        class="flex flex-col w-40 h-50 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card border-2 my-1"
                    >
                        <button
                            mat-icon-button
                            color="primary"
                            class="delete-button"
                            (click)="removeDetails('attachments', i)"
                        >
                            <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                        </button>
                        <div
                            class="aspect-w-9 aspect-h-6"
                            (click)="viewAttachment(file)"
                        >
                            <div class="flex items-center justify-center">
                                <!-- Icons -->
                                <div class="flex flex-col justify-center">
                                    <mat-icon
                                        class="icon-size-14 text-hint mx-auto"
                                        [svgIcon]="'iconsmind:file'"
                                    ></mat-icon>
                                    <div
                                        class="flex justify-center mt-2 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                        [class.bg-red-600]="
                                            returnFile(file, 'file-type') ===
                                            'PDF'
                                        "
                                        [class.bg-amber-600]="
                                            returnFile(file, 'file-type') ===
                                            'JPG'
                                        "
                                    >
                                        {{ returnFile(file, "file-type") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex flex-col flex-auto justify-center text-center text-sm font-medium"
                        >
                            <div
                                class="truncate"
                                [matTooltip]="returnFile(file, 'name')"
                            >
                                {{ returnFile(file, "name") }}
                            </div>
                        </div>
                    </a>
                </ng-container>
            </div>
            <ng-template #noAttachments>
                <div class="flex flex-col w-full justify-center items-center">
                    <img
                        src="./assets/images/ui/angular-material/scenes/undraw_no_data_re_kwbl.svg"
                        class="w-50"
                        alt=""
                    />
                    <div class="flex flex-col items-center font-bold mt-2">
                        No attachments yet. Click the "Add" button on the right
                        to add one.
                    </div>
                </div>
            </ng-template>
        </fuse-card>
    </div>
</div>
