<h2 mat-dialog-title>{{ data?.license ? "Update" : "Create new" }} license</h2>
<mat-dialog-content class="mat-typography">
    <form
        [formGroup]="license_form"
        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
    >
        <mat-form-field class="flex flex-col w-full">
            <mat-label>License</mat-label>
            <input matInput formControlName="license_name" />
        </mat-form-field>
        <mat-form-field class="flex flex-col w-full">
            <mat-label>Description</mat-label>
            <textarea
                matInput
                formControlName="description"
                rows="3"
            ></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="license_form.disabled">Close</button>
    <button mat-raised-button color="primary" (click)="saveLicense()" [disabled]="license_form.disabled">
        Submit
    </button>
</mat-dialog-actions>
