<div class="flex flex-col w-full mx-6 my-3">
    <div class="flex flex-row justify-end w-full px-4 py-9">
        <div class="flex sm:flex-row items-end w-full max-w-xs sm:max-w-none">
            <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                <mat-select
                    [(value)]="filter_type"
                    (selectionChange)="filterDataByType()"
                >
                    <mat-option
                        *ngFor="
                            let type of [
                                'All',
                                'Applied Jobs',
                                'Approached by company'
                            ];
                            let i = index
                        "
                        [value]="i"
                    >
                        {{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-8 w-full mt-4">
        <div class="xl:col-span-3 mt-2 flex flex-col flex-auto overflow-hidden">
            <div class="overflow-x-auto mx-6">
                <table
                    mat-table
                    class="w-full bg-transparent"
                    [dataSource]="data_source"
                    matSort
                >
                    <ng-container matColumnDef="sl">
                        <th mat-header-cell *matHeaderCellDef>Sl</th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            {{ i + 1 }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="job_name">
                        <th mat-header-cell *matHeaderCellDef>Position</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.job_name }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="company_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Company name
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{
                                row.applied_user_id ===
                                user.user_details.user_id
                                    ? row.approved_user
                                    : row.applied_user
                            }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="applied_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Applied / Requested on
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.applied_date | date : "MM/dd/yyyy" }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            status
                        </th>
                        <td mat-cell *matCellDef="let row">
                            {{ row?.status_description }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row; let i = index">
                            <button
                                *ngIf="row.status === 2"
                                mat-icon-button
                                (click)="openDialog(row)"
                            >
                                <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                            </button>
                            <button
                                *ngIf="row.resume_attachment_id"
                                mat-icon-button
                                (click)="redirectUrl(row)"
                            >
                                <mat-icon
                                    svgIcon="mat_outline:attach_file"
                                ></mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon
                                    svgIcon="mat_outline:visibility"
                                ></mat-icon>
                            </button>
                            <button
                                *ngIf="
                                    row?.applied_user_id ===
                                        user.user_details.user_id &&
                                    row.status === 2
                                "
                                mat-icon-button
                                color="warn"
                                (click)="deleteJob(row)"
                            >
                                <mat-icon
                                    svgIcon="mat_outline:delete"
                                ></mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="displayed_columns"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayed_columns"
                    ></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td
                            class="mat-cell font-semibold text-red-500 text-center"
                            [attr.colspan]="displayed_columns.length"
                        >
                            No Records Found
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
